{% extends 'base.html' %}

{% block content %}

<h3 class="text-center">Profile of user {{request.user}}</h3>
<hr>

<h4 class="text-center">Your orders</h4>
<table class="table">
  <tr style="background:lightblue;">
    <td class="text-center">Number of order</td>
    <td class="text-center">Date of order</td>
    <td class="text-center">Status of order</td>
    <td class="text-center">Price of order</td>
    <td class="text-center">Details of order</td>
    <td class="text-center"></td>
  </tr>
{% for item in order %}
<tr>
  <td class="text-center" style="padding-top: 20px; paddint-bottom: 20px;">{{ item.id }}</td>
  <td class="text-center" style="padding-top: 20px; paddint-bottom: 20px;">{{ item.date }}</td>
  <td class="text-center" style="padding-top: 20px; paddint-bottom: 20px;">{{ item.status }}</td>
  <td class="text-center" style="padding-top: 20px; paddint-bottom: 20px;">{{ item.total }}</td>
  <td class="text-center" style="padding-top: 20px; paddint-bottom: 20px;"></td>
</tr>


{% endfor %}
</table>

{% endblock content %}
